Repository Oichkatzelesfrettschen/lites: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, clang-tidy-c, clang-tidy-cpp

.pre-commit-config.yaml:

minimum_pre_commit_version: '2.20.0'
exclude: |
  ^(
    archives/|
    Historical\ Archives/|
    offline_packages/|
    third_party/
  )
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer

  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        entry: clang-format -i --style=file
        language: system
        types_or: [c, c++]
      - id: clang-tidy-c
        name: clang-tidy C
        entry: scripts/run-clang-tidy.sh --extra-arg=-std=c23
        language: system
        types: [c]
      - id: clang-tidy-cpp
        name: clang-tidy C++
        entry: scripts/run-clang-tidy.sh --extra-arg=-std=c++17
        language: system
        types: [c++]

docs: Add comprehensive build progress report
  BUILD_PROGRESS_REPORT.md
Due: none

Phase 7: Complete header infrastructure for KERNEL builds
  Makefile
  buf.h
  conf.h
  core/audit.h
  core/auth.h
  core/ipc_queue.h
  core/mach_debug.h
  core/norma_vm.h
  core/p_defs.h
  dmap.h
  file.h
  filsys.h
  include/sys/types.h
  inode.h
  kern/zalloc.h
  machine/pcb.h
  param.h
  proc.h
  resource.h
  seg.h
  spinlock.h
  systm.h
  time.h
  types.h
  user.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

docs: Update progress report with Phase 7 completion
  BUILD_PROGRESS_REPORT.md
Due: none

Phase 8: Modernization Plan & Type System Completion (44% error reduction)
  MODERNIZATION_PLAN.md
  Makefile
  callout.h
  core/protocols.h
  dirent.h
  include/sys/types.h
  mailbox.h
  mount.h
  param.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

docs: Complete Phase 8 & 9 documentation in progress report
  BUILD_PROGRESS_REPORT.md
Due: none

docs: Add comprehensive branch analysis document
  docs/BRANCH_ANALYSIS_2025-11-14.md
Due: none

docs: Add comprehensive Phase 10 planning and complete status report
  COMPLETE_STATUS_REPORT.md
  ERROR_REDUCTION_PLAN.md
Due: none

docs: Add comprehensive documentation index for easy navigation
  DOCUMENTATION_INDEX.md
Due: none

feat(phase-10.1): Create 6 missing BSD system headers
  include/sys/assert.h
  include/sys/buf.h
  include/sys/kernel.h
  include/sys/malloc.h
  include/sys/mbuf.h
  include/sys/vnode.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-10.2): Add modern integer types and system header isolation
  Makefile
  include/sys/cdefs.h
  include/sys/types.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-10.3): Complete critical struct definitions
  include/sys/protosw.h
  include/sys/uio.h
  include/ufs/ufs/inode.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-10.5): Fix syntax errors in legacy BSD code
  core/fio.c
  core/pipe.c
  core/sig.c
  core/sys1.c
  core/sys2.c
  core/sys3.c
  core/sys4.c
  core/trap.c
Due: clang-format, clang-tidy-c

feat(phase-10.6): Add comprehensive function prototypes to sys/systm.h
  include/sys/cdefs.h
  include/sys/systm.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

fix(critical): Add sys/param.h and essential system headers
  include/i386/limits.h
  include/i386/param.h
  include/stdlib.h
  include/string.h
  include/sys/param.h
  include/sys/syslimits.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-10.7): Add comprehensive BSD and Mach header infrastructure
  include/cap.h
  include/mach.h
  include/mach/boolean.h
  include/mach/exception.h
  include/mach/host_info.h
  include/mach/kern_return.h
  include/mach/mach_types.h
  include/mach/memory_object.h
  include/mach/port.h
  include/mach/processor_info.h
  include/mach/task_info.h
  include/mach/task_special_ports.h
  include/mach/thread_info.h
  include/mach/thread_special_ports.h
  include/mach/thread_status.h
  include/mach/vm_inherit.h
  include/mach/vm_prot.h
  include/mach/vm_statistics.h
  include/mach_host.h
  include/mach_interface.h
  include/mach_port.h
  include/sys/errno.h
  include/sys/resource.h
  include/sys/syscall.h
  include/x86_64/asm.h
  servers/posix/serv/data_synch.h
  servers/posix/serv/file_ports.h
  servers/posix/serv/map_uarea.h
  servers/posix/serv/pty.h
  servers/posix/serv/second_server.h
  servers/posix/serv/tb.h
  servers/posix/serv/vnpager.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

docs: Add comprehensive architecture roadmap for Lites modernization
  ARCHITECTURE_ROADMAP.md
Due: none

feat(phase-10.8): Add critical BSD and Mach headers, fix type definitions
  include/mach/mach_traps.h
  include/mach/machine/vm_types.h
  include/mach/message.h
  include/mach_host.h
  include/mach_port.h
  include/sys/signal.h
  include/sys/ucred.h
  servers/posix/serv/machid_register.h
  servers/posix/serv/sysvshm.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-10.9-10.13): Add comprehensive BSD and Mach headers from historical release
  include/mach/notify.h
  include/sys/acct.h
  include/sys/conf.h
  include/sys/domain.h
  include/sys/fcntl.h
  include/sys/file.h
  include/sys/filedesc.h
  include/sys/ioctl.h
  include/sys/map.h
  include/sys/mount.h
  include/sys/namei.h
  include/sys/socket.h
  include/sys/socketvar.h
  include/sys/stat.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-11-12): Add critical system and Mach MIG headers
  include/mach/error.h
  include/mach/machine.h
  include/mach/mig_errors.h
  include/sys/reboot.h
  include/sys/resourcevar.h
  include/sys/select.h
  include/sys/syslog.h
  include/sys/timeb.h
  include/sys/ttycom.h
  include/sys/unistd.h
  include/sys/user.h
  include/sys/vmmeter.h
  include/sys/wait.h
  include/sys/zalloc.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-13-16): Add comprehensive filesystem, network, VM, and threading headers
  include/cthreads.h
  include/fdesc.h
  include/ffs.h
  include/i386/reg.h
  include/i386/signal.h
  include/lfs.h
  include/mfs.h
  include/miscfs/fifofs/fifo.h
  include/net/if_llc.h
  include/net/if_slvar.h
  include/netinet/ip_mroute.h
  include/nfs.h
  include/nullfs.h
  include/portal.h
  include/sys/ktrace.h
  include/ufs/mfs/mfs_extern.h
  include/ufs/mfs/mfsiom.h
  include/ufs/mfs/mfsnode.h
  include/ufs/ufs/quota.h
  include/umapfs.h
  include/vm/vm.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-18.1-18.3): Add standard C library and machine-specific headers
  include/i386/cthreads.h
  include/mach/mach_host.h
  include/mach/mach_interface.h
  include/mach/mach_port.h
  include/search.h
  include/signal.h
  include/stdint.h
  include/stdio.h
  include/time.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-18.4): Add comprehensive filesystem, system, and machine headers
  include/ccitt.h
  include/cd9660.h
  include/ext2fs.h
  include/fifo.h
  include/i386/endian.h
  include/i386/vmparam.h
  include/kernfs.h
  include/quota.h
  include/sys/disklabel.h
  include/sys/ioccom.h
  include/sys/msgbuf.h
  include/sys/synch.h
  include/sys/times.h
  include/sys/trace.h
  include/sys/unpcb.h
  include/union.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-21-22): Add standard C library and dependency headers for top blockers
  include/i386/ansi.h
  include/i386/cpu.h
  include/i386/int_types.h
  include/procfs.h
  include/setjmp.h
  include/sys/_posix.h
  include/sys/filio.h
  include/sys/queue.h
  include/sys/un.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-23-25): Critical dependencies, dual-path network headers, and machine-specific support
  include/afs.h
  include/compat_oldsock.h
  include/eon.h
  include/i386/pcb.h
  include/i386/setjmp.h
  include/imp.h
  include/ktrace.h
  include/llc.h
  include/mach/syscall_sw.h
  include/mach/vm_param.h
  include/mrouting.h
  include/nsip.h
  include/sl.h
  include/strings.h
  include/sys/audit.h
  include/sys/auth.h
  include/sys/signalvar.h
  include/sys/sockio.h
  include/syscalltrace.h
  include/x86/fpu.h
  include/x86_64/types.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-27-28): Critical Mach device interface and system infrastructure
  include/device/device.h
  include/errno.h
  include/gateway.h
  include/i386/segments.h
  include/minixfs.h
  include/ppp.h
  include/sys/common_int_types.h
  include/sys/dirent.h
  include/sys/featuretest.h
  include/sys/ioctl_compat.h
  include/x86/cpu_extended_state.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-29-30): Mach bootstrap interface and final system dependencies
  include/i386/frame.h
  include/i386/int_mwgwtypes.h
  include/mach/bootstrap.h
  include/msdosfs.h
  include/sys/stddef.h
  include/sys/tprintf.h
  include/sys/ttychars.h
  include/tpip.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-31-33): Critical Mach master header and kernel infrastructure
  include/bsd_types_gen.h
  include/ether_as_syscall.h
  include/hy.h
  include/kern/ast.h
  include/kern/zalloc.h
  include/legacy_bsd/bsd_compat.h
  include/mach/cthread_internals.h
  include/mach/mach.h
  include/mach_ipc_test.h
  include/map_ether.h
  include/namei_macros.h
  include/prottbl.h
  include/serv/device_utils.h
  include/sys/common_int_mwgwtypes.h
  include/sys/ttydev.h
  include/upi.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-36-38): Final top blockers - CMU queue, TTY, VM, and kernel infrastructure
  include/cpus.h
  include/device/device_types.h
  include/i386/int_limits.h
  include/i386/mtpr.h
  include/kern/lock.h
  include/mach_debug/zone_info.h
  include/mach_machine_routines.h
  include/sys/cmu_queue.h
  include/sys/parallel.h
  include/sys/sysctl.h
  include/sys/tty.h
  include/vm/vm_kern.h
  include/vm/vm_pageout.h
  include/x_util.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(phase-41-43): FINAL headers - Complete BSD, VM, and infrastructure (HEADER INFRASTRUCTURE COMPLETE!)
  include/bsd_1_server.h
  include/c23_arch.h
  include/device/tape_status.h
  include/kern/cpu_number.h
  include/mach/ndr.h
  include/mach/std_types.h
  include/mach_ldebug.h
  include/norma_task.h
  include/serv/synch_prim.h
  include/serv/syscalltrace.h
  include/signal_user.h
  include/sys/clist.h
  include/sys/common_int_limits.h
  include/sys/exec_file.h
  include/sys/mman.h
  include/sys/ptrace.h
  include/sys/termios.h
  include/vm/vm_map.h
  include/vm/vm_page.h
Due: clang-format, clang-tidy-c, clang-tidy-cpp

feat(mig): Install MIG 1.8 and enhance mach/message.h with MIG support
  include/mach/mach_types.defs
  include/mach/message.h
  include/mach/std_types.defs
Due: clang-format, clang-tidy-c, clang-tidy-cpp
